# Visual Studio
.vs/
*.vsidx

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
.venv

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Logs
*.log